
.container{
    background: #00958c;
}

.navbar{
    background: #00958c;
}



.
/*body {
    background: #00958c;
    /* fallback for old browsers */
/*    background: -webkit-linear-gradient(to right, #00958c, #00958c, #00958c, #00958c);
    /* Chrome 10-25, Safari 5.1-6 */
/*    background: -webkit-linear-gradient(to right, #00958c, #00958c, #00958c, #00958c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
/*}
