<!DOCTYPE html>
<html lang="en">

{% extends "layout_menu.html" %}

<body>
    {% block content %}
    <div class="container-xl" style="background-color: #00958c;">
        <h3> CAPTACIONES </h3>
        <div class="row">
            <div class="card card body">
                <table class="table table-striped table-bordered table-responsive g-withe">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Saldo</th>
                            <th>Transacciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for captacion in captaciones %}
                        <tr>
                            <td>{{captacion.3}} </td>
                            <td>{{captacion.4}} </td>
                            <td>
                                <a href="{{ url_for('ahorro_transaccion_secuenci',secuenci=captacion.6,nombreProducto=captacion.3) }}">Registros</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endblock %}
</body>