<!DOCTYPE html>
<html lang="en">

{% extends "layout.html" %}

{% block content %}


{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif%}
{% endwith %}
<div class="col-md-4 offset-md-4" style="background-color: #00958c;">
    <div class="sticky-top">
        <form action="/cambio_password" method="POST" autocomplete="off" class="border p-3 form">
            <div class="form-group">
                <label> Usuario: </label>
                <input type="text" name="usuario" placeholder="usuario" class="form-control" required />
            </div>
            <div class="form-group">
                <label> Password: </label>
                <input type="password" name="password" placeholder="password" class="form-control" required />
            </div>
            <p></p>
            <div class="form-group">
                <label> Nuevo Password: </label>
                <input type="password" name="nuevoPassword" placeholder="nuevoPassword" class="form-control" required />
            </div>
            <div class="form-group">
                <label> Nuevo Password Repita: </label>
                <input type="password" name="nuevoPasswordRepita" placeholder="nuevoPasswordRepita" class="form-control"
                    required />
            </div>
            <p></p>
            <button type="submit">
                Cambio Password
            </button>
        </form>



    </div>
</div>

{% endblock %}